.container .card-info{
    border-radius: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color:rgb(26, 30, 30);
}

h4 {
    color:black;
    text-shadow: 2px 2px 4px #000000;
  }
.card-info{
  overflow: hidden;
}
  .card-info img{
    width: 300px;
    height: 150px;

  }
.card-info img:hover {
    opacity: 0.3;
  }

  .hvr-grow {
    box-shadow: 0 0 5px rgba(160, 72, 72, 0.5);
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
    color:black;
    border-radius: 25px;
}

